<<<<<<< HEAD
 name: gitartwork from a contribution graph
 on: 
   push:
 jobs:
   build:
     name: Make gitartwork SVG
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v3
       - uses: jasineri/gitartwork@v1
         with:
            # Use this username's contribution graph  
            user_name: jasineri
            # Text on contribution graph 
            text: MWAKIDENIS
       - uses: jasineri/simple-push-action@v1
=======
name: gitartwork from a contribution graph
on:
  push:
jobs:
  build:
    name: Make gitartwork SVG
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jasineri/gitartwork@v1
        with:
          user_name: mwakidenis    # <-- your GitHub username
          text: MWAKIDENIS         # <-- text on contribution graph
      - uses: jasineri/simple-push-action@v1
>>>>>>> c54372e (Add/Update gitartwork GitHub Action)
